
@import url('../fonts/Roboto-Regular.ttf');

body {
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif !important;
}

section {
    scroll-snap-align: start !important;
}


.navbar {
    width: 100%;
    height: 81px;
    position: fixed;
    z-index: 9999;
}

.navbar-nav, .nav-link {
    font-style: normal;
    font-size: 17px !important;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-active {
    background: #fff !important;
}

.nav-link-active {
    font-style: normal;
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    color: #282828;
}


.jumbotron {
    margin-bottom: 0 !important ;
    height: 680px;
    background-image: url('../images/Image\ \(6\).png');
    background-repeat: no-repeat;
    border-radius: 0 !important;
    background-position: center;
}

.h-haltec {
    line-height: 75px;
    letter-spacing: 0.03em;
    font-weight: 900
}

.title-product {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.03em;
}

.content-klien {
    margin-top: 70px;
}

.content-top {
    margin-top: 150px;
}
.content-1 {
    margin-top: 60px;
}
.content-2 {
    margin-top: 60px;
}

.text-content-2 {
    margin-top: 30px;
}


.tagline {
    font-size: 30px;
    font-weight: bold;
    line-height: 75px;
    letter-spacing: 0.03em;
    font-style: normal;
    letter-spacing: 0.03em;
}


.p-tentang {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-haltec {
    color: #282828;
    font-style: normal;
    font-size: 19px;
    line-height: 36px;
}

.p-layanan {
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 0.012em;
    color: #282828;
}

.card {
    height: 386px;
    background: #FFFFFF;
    box-shadow: -6px -6px 6px 14px rgba(113, 109, 109, 0.036), 6px 6px 6px 14px rgba(113, 109, 109, 0.036);
    border-radius: 7px;
    border: 0;
    margin-top: 20px;
}

.card:hover{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    background: #142B72;
    transition: all .5s ease 0s;
}

.img-card {
    margin-top: 60px;
    margin-left: 40px;
}

.card:hover .p-title,
.card:hover .p-card {
    color: #fff !important;
}

.p-title {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    line-height: 23px;
    letter-spacing: 0.012em;
    color: #282828;
    margin-top: 20px;
    margin-left: 35px;
}


.p-card {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: rgba(32, 32, 32, 0.56);
    margin-top: 10px;
    margin-left: 30px;
}


.study-case {
    margin-top: 80px;
}

.p-studi {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-studi-haltec {
    font-size: 17px;
    line-height: 36px;
    color: #282828;
    font-weight: 500;
    margin-left: 150px;
    letter-spacing: 0.012em;
}


.card-case .img-card-case {
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
}

.card-case:hover .img-card-case {
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

.text-card-case {
    font-weight: 600;
    font-size: 21px;
    line-height: 36px;
    color: #000000;

}

.project-done {
    margin-top: 80px;
}

.number {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-project {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(40, 40, 40, 0.56);
    letter-spacing: 0.012em;
}

.p-kualitas {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.012em;
}

.p-sebagai {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #282828;

}

.p-klien {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-partner {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-apa {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.012em;
    color: #282828;
}

.p-kata-mereka {
    color: #474747;
    letter-spacing: 0.012em;
    font-weight: 500;
    line-height: 25px;
    font-size: 21px;
}

.icon-horizontal {
    text-align: center !important;
    margin: auto;
}

.img-klien-1 {
    opacity: 0.4;
    transition: transform 250ms;
}

.img-klien-1:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

.img-klien-2 {
    opacity: 0.4;
    transition: transform 250ms;
}

.img-klien-2:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

.img-klien-3 {
    opacity: 0.4;
    transition: transform 250ms;
}

.img-klien-3:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

.img-klien {
    opacity: 0.4;
    transition: transform 250ms;
}

.img-klien:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

.img-apa-human {
    transition: transform 250ms;
}
.img-apa-human:hover{
    transform: translateY(-10px);
}

.h-alamat {
    font-size: 21px;
    line-height: 36px;
    color: #282828;
    font-weight: 500;
}

.h-tentang {
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
}

.tagline-footer {
    color: #142B72;
    font-weight: bold;
    font-size: 21px;
    line-height: 36px;
}

.title-footer {
    font-weight: normal !important;
    font-size: 21px;
    line-height: 30px;
    color: #282828;
    font-weight: 500;
}


.text-footer {
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: #282828;

}

.span-whatsapp {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.span-instagram {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.span-no-hp {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.footer-wrap {
    overflow-x: hidden;
    background: rgba(215, 220, 236, 0.42);
    height: 300px;
}


.p-copyright {
    font-size: 18px;
}

.text-slider {
    font-family: 'Roboto', sans-serif !important;
    color: #282828;
    font-size: 18px !important;
}


/* Variations */
.left {
	background-position: left bottom;
}

.right {
	background-position: right bottom;
}

.carousel-control-next, .carousel-control-prev  {
    opacity: 1;
}

/* start css page tentang kami */

.title-kami {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.012em;
    line-height: 48px;
}

.text-visi-misi {
    color: #282828;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.text-kami {
    font-size: 21px;
    line-height: 36px;
}

.section-kontent-kami {
    height: 570px;
    background: rgba(196, 196, 196, 0.12);
}

.img-card-team {
    border: 2.7px solid #142B72;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    transition: transform 250ms;
}

.img-card-team:hover {
    transform: translateY(-20px);
}
.icon-team{
    transition: transform 250ms;
}
.icon-team:hover {
    transform: translateY(-10px);
}

.text-title-team {
    color: #282828;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;    
    line-height: 26px;
    letter-spacing: 0.024em;
}

.text-name-team {
    color: #4A93FF;
    letter-spacing: 0.024em;
    line-height: 23px;
    font-size: 20px
}

.wgl-tabs-headings {
    display: inline-flex;
    
}

.wgl-tabs-headings {
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: calc(25px + 4px) calc(25px + 4px) calc(25px + 4px) calc(25px + 4px);
    background: #142B72;
}

.wgl-tabs-header{
    background-color: #4A93FF;
    border-radius: 25px 25px 25px 25px;
    margin-top: 7px;
}

.tab-title {
    margin: 20px 10px 0px 0px;
    padding: 20px 40px 15px 40px;
    min-width: 152px;
    border-radius: 25px 25px 25px 25px;
}

.tab-title {
    cursor: pointer;
    transition: all 0.4s, color 0s;
}

/* start css Software Development */

.title-layanan {
    font-family: 'Poppins', sans-serif;
    color: #282828;
    font-weight: bold;
    font-size: 32px;

}

.title-layanan-kami {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #282828;
    letter-spacing: 0.012em;
}

.text-information {
    font-size: 19px;
    line-height: 34px;
    text-align: left;
}

.card-dev {
    border-radius: 7px;
    box-shadow: -7px -7px 7px 14px rgba(113, 109, 109, 0.036), 7px 7px 7px 14px rgba(113, 109, 109, 0.036);
    height: 280px;
}

.title-dev {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.012em;
    color: #142B72;

}
.text-title-sampaikan {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.text-tim-kami {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
    font-style: normal;
    font-weight: normal !important;
}

.text-portofolio {
    font-size: 21px;
    line-height: 36px;
    color: #282828;
}